@model WebMvc.ViewModels.DocumentViewModel
@{
    ViewBag.Title = "Details";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<section class="content-header">
    <h1>
        Document
        <small>Document/Index</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Document management</a></li>
        <li class="active">Document</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Search</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-md-12">
                        @*<p>
                                <a title="New" onclick="location.href='@Url.Action("Create", "Document",null)'" class="btn btn-xs btn-success pull-right">
                                    <i class="fa fa-fw fa-plus"></i>
                                </a>
                            </p>*@
                    </div>
                </div>
                <div class="box-body">

                    <table id="documents">
                        <tr>
                            <th>Name</th>
                            <th>Summary</th>
                            <th>Tag</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                            <th>Updated By</th>
                            <th>Updated Date</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                            <td>@Html.DisplayFor(model => model.Summary)</td>
                            <td>@Html.DisplayFor(model => model.Tag)</td>
                            <td>@Html.DisplayFor(model => model.CreateBy)</td>
                            <td>@Html.DisplayFor(model => model.CreateDate)</td>
                            <td>@Html.DisplayFor(model => model.UpdateBy)</td>
                            <td>@Html.DisplayFor(model => model.UpdateDate)</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12">
                    <label for="Content" class="col-sm-12">Content</label>
                    <div style="margin-left: 10px;" name="Content" id="Content" rows="10" cols="80">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>