@model WebMvc.ViewModels.DocumentIndexViewModel
<!DOCTYPE html>
<html>
<head>
    <style>
        #documents {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #documents td, #documents th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #documents tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #documents tr:hover {
                background-color: #ddd;
            }

            #documents th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #3c8dbc;
                color: white;
            }
    </style>
</head>
<section class="content-header">
    <h1>
        Document
        <small>Document/Index</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Document management</a></li>
        <li class="active">Document</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Search</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        @using (Html.BeginForm("Index", "Document", FormMethod.Post))
                        {
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false" } })
                                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false" } })
                                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="Keyword">Keyword</label>
                                    <div>
                                        <input class="form-control text-box single-line" id="Search" name="Search" type="text" value="@Model.Search" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="submit" value="Search" class="btn btn-block btn-primary" />
                                </div>
                            </div>
                            <div class="col-md-12" align="left">
                                @Html.ActionLink("Export To Excel", "ExportToExcel", new { })
                                <a title="ExportToExcel" onclick="location.href='@Url.Action("ExportToExcel", "Document", new { })'" class="btn btn-xs btn-default">
                                    <i class="fa fa-fw fa-refresh">
                                    </i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-md-12">
                        <p>
                            <a title="New" onclick="location.href='@Url.Action("Create", "Document",null)'" class="btn btn-xs btn-success pull-right">
                                <i class="fa fa-fw fa-plus"></i>
                            </a>
                        </p>
                    </div>
                    @*@if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("DocumentCreate"))
                        {

                        }*@
                </div>
                <div class="box-body">

                    <table id="documents">
                        <tr>
                            <th>Name</th>
                            <th>Summary</th>
                            <th>Tag</th>
                            <th>Files</th>
                            <th>Action</th>
                        </tr>
                        @foreach (var item in Model.DocumentViewModels)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Summary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tag)
                                </td>
                                <td>
                                    @if (item.DocumentFiles.Count() == 0)
                                    {
                                        <span>No File</span>
                                    }
                                    else
                                    {
                                        <span>@item.DocumentFiles.Count() File(s)</span>
                                    }
                                </td>
                                <td>
                                    <a title="Edit" onclick="location.href = '@Url.Action("Edit", "Document", new {id = item.Id})'" class="btn btn-xs btn-primary">
                                        <i class="fa fa-fw fa-pencil"></i>
                                    </a>

                                    <a title="Delete" href='@Url.Action("Delete", "Document", new {id = @item.Id})'
                                       onclick="return confirm('Are you sure you wish to delete this document?')" class="btn btn-xs  btn-danger">
                                        <i class="fa fa-fw fa-close"></i>
                                    </a>

                                    <a href="@Url.Action("Details", "Document", new {id = item.Id})"
                                       type="submit"
                                       id=item.Id
                                       target="_blank"
                                       class="btn btn-xs btn-default">
                                        <i class="fa fa-fw fa-info"></i>
                                    </a>
                                </td>
                                @*@if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                    {

                                    }*@
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
<div class="col-md-10" align="right">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
            <ul class="pagination">
                <li class="paginate_button previous disabled" id="example1_previous">
                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                </li>
                <li class="paginate_button active" id="1">
                    <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
                </li>
                <li class="paginate_button next disabled" id="example1_next">
                    <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    // show modal
    $(".show-modal").click(function () {
        $("#myModalContent").load(this.href, function () {
            $("#myModal").modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
        });
        return false;
    });
</script>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script type="text/javascript">
    $(function () {
        $(".FromDate").datepicker({
            dateFormat: 'dd-MM-yy'
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".ToDate").datepicker({
            dateFormat: 'dd-MM-yy'
        });
    });
</script>